<!-- <div class="container">
  <form [formGroup]="addForm" (ngSubmit)="submitSelectedCheckboxes()">
    {{addForm.value | json}}
    <div class="row" formArrayName="check">
      <div *ngFor="let summon of quantity()?.controls; let i = index">
        <ng-container [formGroupName]="i">
          <input type="checkbox" formControlName="isCorrect" name="isCorrect" id="quantity.isCorrect{{i}}">
          <label for="quantity.isCorrect{{i}}">{{summon.value.name}}</label>

        </ng-container>
      </div>
      <div>
        <input type="text" #txt>
        <button (click)="add(txt.value)">add check</button>
      </div>
    </div>


    <div class="row" formArrayName="options">
      <div *ngFor="let summon of opQuantity()?.controls; let i = index">
        <ng-container [formGroupName]="i">
          <input type="radio" id="opQuantity.isCorrect{{i}}" aria-label="Radio button for following text input"
            style="margin-right: 5px;" name="isChecked" (change)="selectOptions(i)" formControlName="isChecked"
            [value]="true">

          <label for="opQuantity.isCorrect{{i}}">{{summon.value.name}}</label>

        </ng-container>
      </div>
      <div>
        <input type="text" #rtxt>
        <button (click)="addradio(rtxt.value)">add check</button>
      </div>
    </div>
  </form>

</div> -->
<router-outlet></router-outlet>
